{% extends "base.html" %}
{% block content %}
{% load static %}

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background mx-lg-4 mx-xl-6 rounded-lg" data-overlay-dark="4" data-background='{% static "img/banner/page-title-01.jpg" %}'>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1 class="text-animation" data-in-effect="fadeInRight">Blog Grid</h1>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#!">Blog Grid</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="position-absolute z-index-1 right bottom-n5 opacity2 ani-left-right">
                <span class="square bg-primary"></span>
                <span class="square bg-secondary"></span>
            </div>
        </section>

        <!-- BLOG
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-heading">
                    <span class="d-block text-primary display-22 display-md-21 display-lg-20 alt-font wow text-animation" data-in-effect="fadeInRight">our blogs</span>
                    <h2>Latest news</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-lg-4 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <article class="card card-style3 border-color-extra-light-gray h-100">
                            <div class="card-img">
                                <img src='{% static "img/blog/blog-01.jpg" %}' alt="...">
                                <div class="author-info">
                                    <div class="author-img">
                                        <img src='{% static "img/avatars/avatar-05.jpg" %}' alt="...">
                                    </div>
                                    <span class="display-30 text-white">By Paul Moffitt</span>
                                </div>
                            </div>
                            <div class="card-body px-1-6 px-sm-1-9 py-2-3">
                                <h3 class="font-weight-600 h4 mb-1-6"><a href="#!">The shocking revelation of charity</a></h3>
                                <a href="#!" class="butn-read"><span>Read More</span></a>
                            </div>
                            <div class="d-flex justify-content-between card-footer px-1-6 px-sm-1-9 py-3 bg-white border-color-extra-light-gray">
                                <span class="display-30 font-weight-600"><i class="far fa-calendar-alt me-2 text-secondary"></i><a href="#!">20 Feb.</a></span>
                                <span class="display-30 font-weight-600"><i class="far fa-comment-dots me-2 text-secondary"></i><a href="#!">06 Comments</a></span>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <article class="card card-style3 border-color-extra-light-gray h-100">
                            <div class="card-img">
                                <img src='{% static "img/blog/blog-02.jpg" %}' alt="...">
                                <div class="author-info">
                                    <div class="author-img">
                                        <img src='{% static "img/avatars/avatar-06.jpg" %}' alt="...">
                                    </div>
                                    <span class="display-30 text-white">By Maria Robison</span>
                                </div>
                            </div>
                            <div class="card-body px-1-6 px-sm-1-9 py-2-3">
                                <h3 class="font-weight-600 h4 mb-1-6"><a href="#!">Award distributions continue to increase</a></h3>
                                <a href="#!" class="butn-read"><span>Read More</span></a>
                            </div>
                            <div class="d-flex justify-content-between card-footer px-1-6 px-sm-1-9 py-3 bg-white border-color-extra-light-gray">
                                <span class="display-30 font-weight-600"><i class="far fa-calendar-alt me-2 text-secondary"></i><a href="#!">12 Feb.</a></span>
                                <span class="display-30 font-weight-600"><i class="far fa-comment-dots me-2 text-secondary"></i><a href="#!">12 Comments</a></span>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <article class="card card-style3 border-color-extra-light-gray h-100">
                            <div class="card-img">
                                <img src='{% static "img/blog/blog-03.jpg" %}' alt="...">
                                <div class="author-info">
                                    <div class="author-img">
                                        <img src='{% static "img/avatars/avatar-07.jpg" %}' alt="...">
                                    </div>
                                    <span class="display-30 text-white">By Floretta Carter</span>
                                </div>
                            </div>
                            <div class="card-body px-1-6 px-sm-1-9 py-2-3">
                                <h3 class="font-weight-600 h4 mb-1-6"><a href="#!">Understanding the background of charity</a></h3>
                                <a href="#!" class="butn-read"><span>Read More</span></a>
                            </div>
                            <div class="d-flex justify-content-between card-footer px-1-6 px-sm-1-9 py-3 bg-white border-color-extra-light-gray">
                                <span class="display-30 font-weight-600"><i class="far fa-calendar-alt me-2 text-secondary"></i><a href="#!">01 Feb.</a></span>
                                <span class="display-30 font-weight-600"><i class="far fa-comment-dots me-2 text-secondary"></i><a href="#!">09 Comments</a></span>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="800ms">
                        <article class="card card-style3 border-color-extra-light-gray h-100">
                            <div class="card-img">
                                <img src='{% static "img/blog/blog-04.jpg" %}' alt="...">
                                <div class="author-info">
                                    <div class="author-img">
                                        <img src='{% static "img/avatars/avatar-08.jpg" %}' alt="...">
                                    </div>
                                    <span class="display-30 text-white">By Lily Hope</span>
                                </div>
                            </div>
                            <div class="card-body px-1-6 px-sm-1-9 py-2-3">
                                <h3 class="font-weight-600 h4 mb-1-6"><a href="#!">Master the skills of charity and be successful</a></h3>
                                <a href="#!" class="butn-read"><span>Read More</span></a>
                            </div>
                            <div class="d-flex justify-content-between card-footer px-1-6 px-sm-1-9 py-3 bg-white border-color-extra-light-gray">
                                <span class="display-30 font-weight-600"><i class="far fa-calendar-alt me-2 text-secondary"></i><a href="#!">29 Jan.</a></span>
                                <span class="display-30 font-weight-600"><i class="far fa-comment-dots me-2 text-secondary"></i><a href="#!">01 Comments</a></span>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="1000ms">
                        <article class="card card-style3 border-color-extra-light-gray h-100">
                            <div class="card-img">
                                <img src='{% static "img/blog/blog-05.jpg" %}' alt="...">
                                <div class="author-info">
                                    <div class="author-img">
                                        <img src='{% static "img/avatars/avatar-09.jpg" %}' alt="...">
                                    </div>
                                    <span class="display-30 text-white">By Benjamin Denton</span>
                                </div>
                            </div>
                            <div class="card-body px-1-6 px-sm-1-9 py-2-3">
                                <h3 class="font-weight-600 h4 mb-1-6"><a href="#!">Never underestimate the influence of charity</a></h3>
                                <a href="#!" class="butn-read"><span>Read More</span></a>
                            </div>
                            <div class="d-flex justify-content-between card-footer px-1-6 px-sm-1-9 py-3 bg-white border-color-extra-light-gray">
                                <span class="display-30 font-weight-600"><i class="far fa-calendar-alt me-2 text-secondary"></i><a href="#!">26 Jan.</a></span>
                                <span class="display-30 font-weight-600"><i class="far fa-comment-dots me-2 text-secondary"></i><a href="#!">13 Comments</a></span>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-1-9 wow fadeIn" data-wow-delay="1200ms">
                        <article class="card card-style3 border-color-extra-light-gray h-100">
                            <div class="card-img">
                                <img src='{% static "img/blog/blog-06.jpg" %}' alt="...">
                                <div class="author-info">
                                    <div class="author-img">
                                        <img src='{% static "img/avatars/avatar-04.jpg" %}' alt="...">
                                    </div>
                                    <span class="display-30 text-white">By Maya Perrier</span>
                                </div>
                            </div>
                            <div class="card-body px-1-6 px-sm-1-9 py-2-3">
                                <h3 class="font-weight-600 h4 mb-1-6"><a href="#!">Why charity had been so popular till now?</a></h3>
                                <a href="#!" class="butn-read"><span>Read More</span></a>
                            </div>
                            <div class="d-flex justify-content-between card-footer px-1-6 px-sm-1-9 py-3 bg-white border-color-extra-light-gray">
                                <span class="display-30 font-weight-600"><i class="far fa-calendar-alt me-2 text-secondary"></i><a href="#!">22 Jan.</a></span>
                                <span class="display-30 font-weight-600"><i class="far fa-comment-dots me-2 text-secondary"></i><a href="#!">05 Comments</a></span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- pager -->
                        <div class="text-center mt-6 mt-lg-7">
                            <div class="pagination text-extra-dark-gray">
                                <ul>
                                    <li><a href="#!"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li><a href="#!">Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end pager -->
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}