{% extends "base.html" %}
{% block content %}
{% load static %}

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background mx-lg-4 mx-xl-6 rounded-lg" data-overlay-dark="4" data-background='{% static "img/banner/page-title-01.jpg" %}'>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1 class="text-animation" data-in-effect="fadeInRight">About Us</h1>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#!">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="position-absolute z-index-1 right bottom-n5 opacity2 ani-left-right">
                <span class="square bg-primary"></span>
                <span class="square bg-secondary"></span>
            </div>
        </section>

        <!-- OUR MISSION
        ================================================== -->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 mb-1-9 mb-md-2-5 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div>
                            <div class="section-heading  mb-3 mb-lg-4 text-start">
                                <span class="d-block text-primary display-22 display-md-21 display-lg-20 alt-font wow text-animation" data-in-effect="fadeInRight">mission</span>
                                <h2>Our mission</h2>
                            </div>
                            <p class="display-29 display-lg-28 font-weight-400 mb-1-6 mb-lg-2-3">To find exciting young Indian football players and to provide them with opportunities to play at world stage</p>
                            <a href="#!" class="butn small">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-xl-1">
                        <div class="row">
                            <div class="col-6 px-1 wow fadeInUp" data-wow-delay="400ms">
                                <img src='{% static "img/content/ikflogo.png" %}' class="tilt rounded" alt="...">
                            </div>
                            <div class="col-6 px-1 wow fadeInUp" data-wow-delay="500ms">
                                <img src='{% static "img/content/about-4.jpg" %}' class="tilt rounded" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src='{% static "img/icons/icon-7.png" %}' alt="" class="position-absolute left-5 top-15 ani-top-bottom opacity7 d-none d-lg-block">
        </section>

        <!-- OUR VISION
        ================================================== -->
        <section class="pt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1 wow fadeIn" data-wow-delay="200ms">
                        <div class="position-relative">
                            <img src='{% static "img/content/about-5.jpg" %}' class="tilt rounded" alt="...">
                            <div class="position-absolute top-50 start-50 translate-middle">
                                <div class="d-inline-block align-middle">
                                    <a class="video_btn-style1 popup-social-video video_btn small" href="https://www.youtube.com/watch?v=L9xW5X0TxiE"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="d-none d-sm-inline-block align-middle font-weight-700 ms-4 text-white text-start">Watch <span class="text-uppercase d-block">intro video</span></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5 offset-xl-1 order-1 order-lg-2 mb-1-9 mb-md-2-5 mb-lg-0 wow fadeIn" data-wow-delay="400ms">
                        <div>
                            <div class="section-heading mb-3 mb-lg-4 text-start">
                                <span class="d-block text-primary display-22 display-md-21 display-lg-20 alt-font wow text-animation" data-in-effect="fadeInRight">vision</span>
                                <h2>Our vision</h2>
                            </div>
                            <p class="display-29 display-lg-28 mb-1-6 mb-lg-2-3">To create a movement, which churns out football players, who will be the next big thing in World Football.</p>
                            <a href="#!" class="butn secondary small">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src='{% static "img/icons/icon-8.png" %}' alt="" class="position-absolute right-5 top-75 ani-top-bottom opacity7 d-none d-lg-block">
        </section>

        <!-- COUNTER
        ================================================== -->
        <section class="bg-img cover-background mx-lg-4 mx-xl-6 rounded-lg" data-overlay-dark="4" data-background='{% static "img/bg/bg-1.jpg" %}'>
            <div class="container">
                <div class="section-heading text-start">
                    <span class="d-block text-secondary display-22 display-md-21 display-lg-20 alt-font wow text-animation" data-in-effect="fadeInRight">our statistics</span>
                    <h2 class="mb-0 text-white">We provide help</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="counter-style1 bg-primary">
                            <div class="counter-text">
                                <span class="countup mb-0 h1 text-white">
                                    356
                                </span>
                            </div>
                            <p class="display-28 letter-spacing-1 mb-0 text-white">Featured Campaign</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="counter-style1 bg-secondary">
                            <div class="counter-text">
                                <span class="countup mb-0 h1 text-white">
                                    149
                                </span>
                            </div>
                            <p class="display-28 letter-spacing-1 mb-0 text-dark">Dedicated Volunteers</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="counter-style1">
                            <div class="counter-text">
                                <span class="countup mb-0 text-dark h1 alt-font">
                                    7625
                                </span>
                            </div>
                            <p class="display-28 letter-spacing-1 mb-0 text-dark">Happy People</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="800ms">
                        <div class="become-volunteer text-center">
                            <i class="ti-plus mx-auto text-white"></i>
                            <h4 class="display-28 letter-spacing-1 mb-0 text-white">Become a Volunteer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- VOLUNTEERS
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-heading">
                    <span class="d-block text-primary display-22 display-md-21 display-lg-20 alt-font wow text-animation" data-in-effect="fadeInRight">our team</span>
                    <h2>Our volunteers</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="position-relative team-style1">
                            <div class="team-img">
                                <a href="#!"><img src='{% static "img/volunteers/01.jpg" %}' alt="..."></a>
                                <div class="team-overlay"></div>
                            </div>
                            <div class="team-content text-center">
                                <h3 class="text-white h4">David Taylor</h3>
                                <p class="text-white opacity7 mb-2">Volunteers</p>
                                <ul class="social-icon-style1">
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="position-relative team-style1">
                            <div class="team-img">
                                <a href="#!"><img src='{% static "img/volunteers/02.jpg" %}' alt="..."></a>
                                <div class="team-overlay"></div>
                            </div>
                            <div class="team-content text-center">
                                <h3 class="text-white h4">Nida Mahibah</h3>
                                <p class="text-white opacity7 mb-2">Volunteers</p>
                                <ul class="social-icon-style1">
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="position-relative team-style1">
                            <div class="team-img">
                                <a href="#!"><img src='{% static "img/volunteers/03.jpg" %}' alt="..."></a>
                                <div class="team-overlay"></div>
                            </div>
                            <div class="team-content text-center">
                                <h3 class="text-white h4">Finn Moseley</h3>
                                <p class="text-white opacity7 mb-2">Volunteers</p>
                                <ul class="social-icon-style1">
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- HISTORY
        ================================================== -->
        <section class="pt-0">
            <div class="container">
                <div class="section-heading">
                    <span class="d-block text-primary display-22 display-md-21 display-lg-20 alt-font wow text-animation" data-in-effect="fadeInRight">history</span>
                    <h2>Our history</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="history-wrapper text-center">
                            <div class="history-text">
                                <h4 class="h5 mb-3 text-secondary">2017 Helpline established</h4>
                                <p class="mb-0">We're been running after our mean to help individuals and causes in our neighborhood quite a while.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="history-wrapper text-center">
                            <div class="history-text">
                                <h4 class="h5 mb-3 text-secondary">2019 Community owned</h4>
                                <p class="mb-0">We're been running after our mean to help individuals and causes in our neighborhood quite a while.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-md-none d-lg-block">
                        <div class="history-wrapper text-center">
                            <div class="history-text">
                                <h4 class="h5 mb-3 text-secondary">2021 Charity of the year</h4>
                                <p class="mb-0">We're been running after our mean to help individuals and causes in our neighborhood quite a while.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="history-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 offset-xl-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="history-wrapper bottom-content text-center">
                                    <div class="history-text">
                                        <h4 class="h5 mb-3 text-secondary">2018 Public meetings</h4>
                                        <p class="mb-0">We're been running after our mean to help individuals and causes in our neighborhood quite a while.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="history-wrapper bottom-content text-center">
                                    <div class="history-text">
                                        <h4 class="h5 mb-3 text-secondary">2020 Fully granted</h4>
                                        <p class="mb-0">We're been running after our mean to help individuals and causes in our neighborhood quite a while.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CALL TO ACTION
        ================================================== -->
        <section class="bg-img cover-background mx-lg-4 mx-xl-6 rounded-lg wow fadeIn" data-wow-delay="200ms" data-background='{% static "img/bg/bg-4.jpg" %}' data-overlay-dark="6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8 text-center">
                        <h2 class="text-white display-16 display-sm-11 display-md-9 display-lg-5 mb-1-9">We assist nonprofits turn out to be greater effective!</h2>
                        <a href="volunteer.html" class="butn secondary">
                            <span>Join Us Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIAL
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-heading">
                    <span class="d-block text-primary display-22 display-md-21 display-lg-20 alt-font wow text-animation" data-in-effect="fadeInRight">testimonials</span>
                    <h2>People talk</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7 text-center">
                        <div class="testimonial-carousel owl-carousel owl-theme">
                            <div>
                                <i class="ti-quote-left display-10 text-primary"></i>
                                <p class="mt-3 mb-5 display-28 display-md-26 display-lg-24">Best. Product. Ever! We have no regrets! If you want real marketing that works and effective implementation - charity's got you covered. This is simply unbelievable!</p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="me-3">
                                        <img src='{% static "img/avatars/avatar-01.jpg" %}' class="rounded-circle" alt="...">
                                    </div>
                                    <div class="text-start">
                                        <h6 class="mb-0">Claude Perreault</h6>
                                        <span class="small">Reporter</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <i class="ti-quote-left display-10 text-primary"></i>
                                <p class="mt-3 mb-5 display-28 display-md-26 display-lg-24">Absolutely wonderful! Thanks to orphanage, we've just launched our 5th website! I use orphanage often. Orphanage should be nominated for service of the year.</p>
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <div class="me-3">
                                        <img src='{% static "img/avatars/avatar-02.jpg" %}' class="rounded-circle" alt="...">
                                    </div>
                                    <div class="text-start">
                                        <h6 class="mb-0">Ebony Copland</h6>
                                        <span class="small">Nanny</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <i class="ti-quote-left display-10 text-primary"></i>
                                <p class="mt-3 mb-5 display-28 display-md-26 display-lg-24">Orphanage was the best investment I ever made. Keep up the excellent work. Without orphanage, we would have gone bankrupt by now. It's really wonderful. It really saves me time and effort.</p>
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <div class="me-3">
                                        <img src='{% static "img/avatars/avatar-03.jpg" %}' class="rounded-circle" alt="...">
                                    </div>
                                    <div class="text-start">
                                        <h6 class="mb-0">Leon Charest</h6>
                                        <span class="small">Childcare Aide</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src='{% static "img/icons/icon-9.png" %}' alt="" class="position-absolute left-5 top-15 ani-top-bottom opacity7 d-none d-sm-block">
            <img src='{% static "img/icons/icon-10.png" %}' alt="" class="position-absolute right-5 top-75 ani-top-bottom opacity7">
        </section>

        {% endblock %}